<div class="ct-topBar ">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-8">
                <div class="ct-panel--contact ct-panel--left">
                    <div class="ct-panel--item ct-email">
                        <a href="#"><i class="fa fa-envelope-o"></i> example@example.com</a>
                    </div>
                    <ul class="nav navbar-nav ct-switcher--language">
                        <li class="dropdown">
                            <a href="#">
                                <i class="fa fa-globe"></i>
                                English
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        English
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Spanish
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        German
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div id="ct-js-navSearch">
                        <i class="fa fa-search"></i>
                        <input placeholder="Search ..." required type="text" name="field[]" class="form-control input-lg ct-input--search">
                    </div>
                    <div class="ct-navbar-search">
                        <form role="form">
                            <button class="ct-navbar-search-button" type="submit">
                                <i class="fa fa-search fa-fw"></i>
                            </button>
                            <div class="form-group">
                                <input id="search" placeholder="Search ..." required type="text" class="form-control input-lg">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-md-4">
                <div class="ct-panel--user ct-panel--right text-right">
                    <div class="ct-panel--item ct-email">
                        <a href="properties.html"><i class="fa fa-home"></i> My Properties</a>
                    </div>
                    <div class="ct-panel--item ct-email">
                        {% if not user.is_authenticated %}
                        <a href="{% url 'account_login' %}"><i class="fa fa-user"></i> Login</a>
                        {% else %}
                        <a href="{% url 'account_logout' %}"><i class="fa fa-user"></i> Logout</a>
                        {% endif %}
                    </div>
                    <div class="ct-panel--item ct-email">
                        <a href="registration.html"><i class="fa fa-plus-square"></i> Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar ct-navbar--hoverEffectLine" role="navigation" data-heighttopbar="40px" data-startnavbar="0">
    <div class="container">
        <div class="navbar-header ct-panel--navbar">
            <span style="font-size:36px;line-height:104px;">FireCARES</span>
        </div>
        <div class="collapse navbar-collapse text-uppercase">
            <ul class="nav navbar-nav ct-navbar--fadeInUp">
                <li class="onepage active"><a href="{% url 'firestation_home' %}">Home</a></li>
                <li class="onepage"><a href="#about">About Us</a></li>
                <li class="onepage"><a href="#portfolio">Our work</a></li>
                <li class="onepage"><a href="#whyus">Why us?</a></li>
                <li class="onepage"><a href="#testimonials">testimonials</a></li>
                {% if not user.is_authenticated %}
                <li class="onepage pull-right"><a href="{% url 'account_login' %}">Login</a></li>
                {% else %}
                    <li class="onepage pull-right"><a href="{% url 'account_logout' %}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="ct-shapeBottom"></div>
    </div>
</nav>
