#page-container {
    overflow: hidden;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

#map {
  min-height: 400px;
}

#map:last-child:after {
  content: '';
  position: absolute;
  -webkit-box-shadow: inset -1px 1px 5px 3px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: inset -1px 1px 5px 3px rgba(0, 0, 0, 0.19);
  box-shadow: inset -1px 1px 5px 3px rgba(0, 0, 0, 0.19);
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
}

.fire-department-card .ct-main-text {
  min-height: 75px;
}

.header-image {
  background: url('/static/img/truck.jpg') no-repeat 50% 65%;
  background-size: cover;
  height: 800px;
}